*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}


body{
    font-family: Roboto, 'sans-serif';
    min-width: 450px;
    min-height: 100vh;
    background: #e1dcc5;
}

header{
    padding: 1.5em 10%;
    background: #ffd;
}

h1{
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
}

main{
    padding: 3em 0;
}
h2{
    font-size: 3rem;
}
main h2, main .btn{
    /* text-align: center; */
    padding: 1.5em 10%;
}

main h2::after{
    content: '';
    display: block;
    margin-top: 0.5em;
    border-top: 3px solid #0376b8;
    width: 33%;
}

.new-book-btn{
    font-size: 2rem;
    padding: 0.25em;
    color: #fff;
    background: #0376b8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cards{
    width: max(80%, 400px);
    margin: 0 auto;
    /* background: #f3edd7; */
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: 400px;
    grid-auto-rows: 400px;
    align-items: center;
    /* justify-content: center; */
    gap: 50px;
}

.card{
    background: #ffd;
    color: #000033;
    width: 300px;
    height: 350px;
    padding: 1.25em 0;
    border: 1px solid #ababab;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #ababab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card p{
    font-size: 1.25rem;
}

.hidden{
    /* position: relative;
    border: 10px solid yellow;
    padding: 2px;
    height: 100vh; */
    display: none;
}
form{
    width: 300px;
    height: 400px;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
   border-radius: 3px;
    background: #f1f1ff;
    outline: 2px solid #afafaf;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form input{
    font-size: 1.25rem;
    padding: 5px;
    width: 90%;
    background: #fff;
    border: none;
    border-radius: 3px;
}
form input:hover{
    cursor: pointer;
}
form input:active{
    outline: 1px solid #0000ff;
}
form input:focus{
    outline: 1px solid #0000ff;
}
.submit-btn{
    width: 60%;
    font-size: 1.25rem;
    padding: 0.25em 0.5em;
    color: #000040;
    background: lightblue;
    border: none;
    outline: 1px solid blue;
    border-radius: 3px;
    cursor: pointer;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
}

.remove-book-btn{
    border: 1px solid #afafaf;
    border-radius: 3px;
    width: 70%;
    color: white;
    font-size: 1.25rem;
    padding: 0.25em;
    background: #ff3a3a;
    cursor: pointer;
}

.read-status-btn{
    border: 1px solid #afafaf;
    border-radius: 3px;
    width: 70%;
    color: #000000;
    font-size: 1.25rem;
    padding: 0.25em;
    background: #ffff50;
    cursor: pointer;
}

.read{
    color: #000000;
    font-size: 1.25rem;
    padding: 0.25em;
    background: #78ff78;
}